.container {
  width: 100%;
  height: 100%;
}

.navigation {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.navigation .navbar {
  width: 100%;
  height: 72px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  color: #fff;
}
@media (max-width: 500px) {
  .navigation .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
  }
}
.navigation .navbar .nav-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 60px;
}
@media (max-width: 500px) {
  .navigation .navbar .nav-header {
    position: relative;
    left: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
  }
}
.navigation .navbar .nav-header .nav-toggle {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  border: 1px solid #333333;
  padding: 0.6rem;
  border-radius: 3px;
}
.navigation .navbar .nav-header .nav-toggle .bar {
  height: 2px;
  background: #fff;
  margin: 2px auto;
  width: 100%;
}
@media (max-width: 500px) {
  .navigation .navbar .nav-header .nav-toggle {
    display: flex;
  }
}
.navigation .navbar .nav-header .logo h1 a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.navigation .navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  position: absolute;
  right: 400px;
  line-height: 3.3;
}
@media (max-width: 500px) {
  .navigation .navbar .nav-items {
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: none;
    width: 100%;
  }
}
@media (max-width: 960px) {
  .navigation .navbar .nav-items {
    right: 20px;
  }
}
.navigation .navbar .nav-items li {
  padding: 0.8rem 2rem;
}
.navigation .navbar .nav-items li.active,
.navigation .navbar .nav-items li:hover {
  border-bottom: 3px solid #FFF;
  background-color: #24272781;
}
@media (max-width: 500px) {
  .navigation .navbar .nav-items li {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.navigation .navbar .nav-items li.active a {
  color: #fff;
}
.navigation .navbar .nav-items li a {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2.5rem;
  text-decoration: none;
  color: #fff;
}

.navigation .navbar .nav-items.open {
  display: flex;
}

.box {
  width: 100%;
  min-height: 100vh;
  background: green;
  text-align: center;
}






